.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  background-color: #2563eb;
  color: white;
  padding: 15px 30px;
  z-index: 1000px;
}

.navbar button {
  background-color: white;
  color: #2563eb;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
